README.html
pdf/
presentation/
html/
tmp/
includes/preshdr.html
webimg/
live/
includes
slidy
/lastslide.txt

/img/01/IR.png

/img/02/FAjavacomments.png

/img/02/FAnew.png

/img/02/FAnewnotwhile.png

/img/02/FAposInt.png

/code/FA1/FA1.hs

/img/02/CycleOfConstructions.png
/img/02/DFAastarab.png
/img/02/FAab.png
/img/02/FAastar.png
/img/02/FAastarab.png
/img/02/FAm.png
/img/02/FAn.png
/img/02/FAnandm.png
/img/02/FAnandm2.png
/img/02/NFAa.png
/img/02/NFAab.png
/img/02/NFAabc.png
/img/02/NFAaorb.png
/img/02/NFAastar.png
/img/02/NFAb.png

/img/03/parsetree1.png
/img/03/parsetree2.png
/img/03/parsetree3.png
/img/03/parsetree4.png
/img/03/parsetree5.png
